<h1>Sports Olympiques</h1>

<h2>Liste des Sports</h2>
<div class="container-fluid">
    {{#each sports}}
    <div class="row" style="margin: 5px 20px 5px 20px;">
        <div class="card" style="width: 100%; max-width: 50rem;">
            <div class="card-body">
                    <h5 class="card-title">{{name}} ({{athletes.length}})</h5>
                    
                        <button type="submit" class="btn btn-primary">Supprimer</button>
                    
            </div>
        </div>
    </div>
    {{/each}}
</div>

<h2>Nouveau Sport</h2>
<div class="container-fluid">
    <form method="post" action="/api/sports">
        <div class="form-group">
            <label for="user">Nom</label>
            <input name="name" type="text" class="form-control" id="name">
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
        <a href="/" class="btn btn-cancel">Annuler</a>
    </form>
</div>

<h2>Ajouter un athlète à un sport</h2>
<div class="container-fluid">
    <form method="post" onSubmit="return process();" id="specialForm" name="specialForm">
        <div class="form-group">
            <label for="athleteId">Athlète</label>
            <select id="athleteId" name="athleteId">
                {{#each athletes}}
                <option value="{{_id}}">{{firstName}} {{lastName}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="sportId">Sport</label>
            <select id="sportId" name="sportId">
                {{#each sports}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
        <a href="/" class="btn btn-cancel">Annuler</a>
    </form>
</div>

<script>
    function process() {
        console.log("testest");
        var url = "/api/sports/" + document.getElementById("sportId").value + "/athletes/" + document.getElementById("athleteId").value;
        document.getElementById("specialForm").action = url;
        document.forms["specialForm"].submit();
        return false;
    }

    function processDelete() {
        console.log("del");
        var url = "/api/sports/delete/"+ document.getElementById("athleteId").value;
        document.getElementById("specialFormDelete").action = url;
        document.forms["specialFormDelete"].submit();
        return false;
    }
</script>
